*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(-900deg, #F67280,#F8B195,  #355C7D);
    background-size: cover;
}

.button-circle{
    width: 55px;
    height: 55px;
    font-size: 25px;
    margin: 3px;
    cursor: pointer;
    border-radius: 100%;
    color: white;
}

.button{
    width: 55px;
    height: 55px;
    font-size: 25px;
    margin: 3px;
    cursor: pointer;
    color: white;
    background-color:#807d8b ;
}

.main{
    background-color: #355C7D;
    padding: 12px;
}

#textview{
    width: 217px;
    margin: 5px;
    font-size: 25px;
    padding: 5px;
}

.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%)
}

.bg{
    
}